#cloud-config
package_update: true
package_upgrade: true
packages:
  - nginx

write_files:
  - path: /var/www/html/index.html
    owner: root:root
    permissions: '0644'
    content: |
      <!doctype html>
      <html>
      <head>
        <meta charset="utf-8">
        <title>Hello</title>
      </head>
      <body>
        <h1>Hello, world</h1>
      </body>
      </html>

runcmd:
  - systemctl enable nginx
  - systemctl restart nginx
